<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>温泉マップ</title>
    <link rel="stylesheet" href="/dist/map-bundle.css">
    <style>
        /* 地図を表示する要素のサイズを必ず指定する */
        #map {
            height: 600px;
            width: 100%;
        }
    </style>
</head>
<body>

    <h1>観光スポットマップ</h1>
    <div id="map"></div>

    <script type="module">
        import { createJapanMap } from '/dist/map-bundle.js'

        const markerOptions = [{
            coords: [35.4, 139.4],
            text: "テスト"
        }]

        createJapanMap(markerOptions)
    </script>
</body>
</html>